body {
    height: 100vh;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

 
  p{
    color: white;

  }

a {
  display: flex;
  align-self: flex-start;
  text-decoration: none;
}
.close {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #000000;
  z-index: 1; /* Assurez-vous que les boutons de suppression sont au-dessus du texte */
}